name: check

on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - run: npm run tsc
      - run: npm run test
      - run: npm run build

      # - name: Install Playwright Browsers
      #   run: npx playwright install chromium --with-deps
      # - name: Smoke test stories
      #   run: npm run storybook:test
